    <div>
      <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <% @artists.each do |artist| %>
            <div class="col-xs-12 col-sm-6">

              <div class="card">
                <div class="card-image">
                <%= cl_image_tag artist.photos[1].path %>
                </div>
                <div class="card-name">
                  <h2><%= artist.first_name %> <%= artist.last_name %></h2>
                  <p><%= artist.age %>yr</p>
                  <p><%= artist.height %>cm</p>
                  <p>rate $<%= artist.daily_rate %></p>
                  <p><%= artist.address %></p>
                </div>
                <%= link_to "", artist_path(artist), class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" style="background-color: black; height: 100vh; position: fixed; right: 0;">MAP</div>
      </div>
    </div>

