<div class="wrapper">
  <h1 class="text-center"><%=@artist.first_name%> <%= @artist.last_name%></h1>



  <!-- Start of Carousel -->
<%= render 'shared/carousel' %>
  <div class="container text-center" id="model-info">
  <div class="text-center">
  <h1><%=@artist.first_name%> <%= @artist.last_name%></h1>
  </div>
  <% image_paths = @artist.photos.map{ |photo| photo.path }  %>
  <div class="carousel">
        <%= carousel_for(image_paths) %>
  </div>

    <div class="row">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
              <ul>
                <li>Name: <%= @artist.first_name%> <%=@artist.last_name%></li>
                <li>Age: <%= @artist.age%></li>
                <li>Phone Number: <%=@artist.phone_number%></li>
              </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
              <ul>
                <li>Location: <%=@artist.address%></li>
                <li>Height: <%=@artist.height%></li>
                <li>Shoe Size: <%=@artist.shoe_size%></li>
              </ul>
      </div>

      <div class="col-xs-12 col-sm-4">
        <ul>

        </ul>
      </div>
    </div>
    <div class="row">
      <p>map here</p>
    </div>

  </div>
</div>

