<div class="wrapper dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- USER PROFILE -->
        <div class="container-profile">
          <div>
          <%= avatar_tag(100, 100)%>
          </div>
          <div class="profile-name">
            <h3><%= current_user.first_name %></h3>
          </div>
          <div>
            <%= link_to "Edit", edit_user_registration_path, class: "btn-yours" %>
          </div>
        </div>
      </div>

      <div class="col-md-9" style="background-color:white; height:600px">
        <!-- USER DASHBOARD -->
        <div class="container-dashboard">
          <div class="tabs">
            <!-- THREE TABS -->
            <a class="tab active" data-target="#my-artists">Artists</a>
            <a class="tab" data-target="#my-bookings">Bookings</a>
            <a class="tab" data-target="#my-requests">Requests</a>
          </div>
          <!-- ARTISTS-CARDS -->
          <div class="container-cards tab-content" id="my-artists">
            <% current_user.artists.each do |artist| %>
            <div class="dash_card">
                <div class="dash_card-image"><%= cl_image_tag artist.photos.first.path, width: 150 %></div>
                <div class="dash_card-category"><h3><%= artist.first_name %></h3></div>
                <div class="dash_card-buttons">
                <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, artist_path(artist), method: :delete, class:"icon delete" %>
                <%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, edit_artist_path(artist), class:"icon edit" %>
<!--                 <%= link_to "".html_safe, artist_path(artist), class:"card-link"%>
 -->                </div>
            </div>
          </div>
            <% end %>
        </div>
          <!-- BOOKING TABLE -->
          <div class="tab-content hidden" id="my-bookings" >
            <div>
              <table class="table booking-table">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Dates</th>
                    <th>Location</th>
                    <th>Artist</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% current_user.bookings.each do |booking|%>
                    <tr class="booking-row">
                      <td> <%= booking.status %> </td>
                      <td> <%= booking.start_time %> </td>
                      <td> <%= booking.end_time %> </td>
                      <% artist = booking.artist%>
                      <td><%= cl_image_tag artist.photos.first.path, width: 100, height: 100, class: "booking-image" %></td>
                      <td></td>
                    </tr>

                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
            <!-- MY REQUESTS -->
          <div class="tab-content hidden" id="my-requests" >
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
