<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <% @artists.each do |artist| %>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-image">
              <%= cl_image_tag artist.photos[1].path %>
              </div>
              <div class="card-name">
                <h2><%= artist.first_name %> <%= artist.last_name %></h2>
                <p><%= artist.daily_rate %></p>
                <p>LOCATION</p>
              </div>
              <%= link_to "", artist_path(artist), class: "card-link" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
