<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpeg' %>);">
  <div class="banner-content">
    <h1>MUGATU</h1>
    <p>Models anywhere, everywhere.</p>
    <div class="container">
      <div id="wrap">
        <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="Search Now"><input id="search_submit" value="Rechercher" type="submit">
      </form>
      </div>
    </div>
  </div>
</div>



<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <% @artists.each do |artist| %>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-image">
              <%= cl_image_tag artist.photos[1].path %>
              </div>
              <div class="card-name">
                <h2><%= artist.first_name %> <%= artist.last_name %></h2>
                <p><%= artist.daily_rate %></p>
                <p>LOCATION</p>
              </div>
              <%= link_to "", artist_path(artist), class: "card-link" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
